/* SIGN UP */
.card .card-content .card-title {
  margin-bottom: 50px;
}

/* SIGN UP & LOGIN CONTAINER ALIGN VERTICALLY & HORIZONTALLY */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-card {
  width: 100%;
}

.card-action > p {
  text-align: center;
}

.card-action {
  display: flex;
  justify-content: center;
}

.toggle-password {
  opacity: 0.5;
  position: absolute;
  right: 20px;
  bottom: 25px;
  cursor: pointer;
}
.toggle-password:hover {
  opacity: 1;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-content {
  height: 100vh;
  width: 15%;
}
.side-bar {
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.logo-img {
  height: 8vh;
  width: 100%;
}
.logo-img img {
  height: 100%;
  width: 100%;
}
.collection {
  margin-top: 0;
  height: 92vh;
}
.collection-item {
  height: 10%;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100vh;
}
.navbar {
  height: 8vh;
  width: 100%;
}
.dashboard-container {
  height: 92vh;
  width: 100%;
  background-color: black;
}

.collapsible {
  margin: 2% 2%;
}
.collapsible-body {
  background-color: aqua;
}

.user-information {
  gap: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  line-height: 1;
  font-size: 16px;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

@media (max-width: 700px) {
  .user-name {
    font-size: 12px;
  }
}
