/* UG colors */
:root {
  --color-azul-ug: #003a6c;
  --color-dorado: #ffbf00;
  --color-blanco: #ffffff;
  --color-gris-oscuro: #333333;
  --color-gris-claro: #cccccc;
  --color-verde-ug: #3c8d40;
  --color-rojo-ug: #bf0a30;
  --color-amarillo-ug: #ffd700;
}
